html
  head
    title 基于Web的C程序测试用例自动生成方法研究与实现
    link(
      rel='stylesheet'
      type='text/css'
      href='/bootstrap.min.css'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='/font-awesome.min.css'
    )
    //sdf
    link(
      rel='stylesheet'
      type='text/css'
      href='/search.css'
    )
    
  body
    div.main
      h1 KLEE测试用例
      div
        div(class='text-center')
          div.testInfo
            h2 错误信息
            p #{err}
          div.text-center
            a(href='/') 返回首页