html
  head
    title 基于Web的C程序测试用例自动生成方法研究与实现
    link(
      rel='stylesheet'
      type='text/css'
      href='/bootstrap.min.css'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='/font-awesome.min.css'
    )
    //sdf
    link(
      rel='stylesheet'
      type='text/css'
      href='/search.css'
    )
    
  body
    div.main
      h1 KLEE测试用例
      div
        div(class='text-center')
          div.testInfo
            h2 测试信息
            ul.text-left
              li 已知路径：#{testInfo.explorePath}
              li 覆盖路径：#{testInfo.completePath}
              li 测试用例数：#{testInfo.testcase}
              li 覆盖率为：
                span.num #{testInfo.completePath/testInfo.explorePath*100 + '%'}
          div.testcase
            h2 测试用例
            ul.testcase.text-left
              each tc, index in testcase
                li= 'case' + index + ': ' + tc
          div.text-center
            a(href='/') 返回首页